.a-button{
    color: white;
    text-decoration: none;
}
.a-button:hover{
    color: white;
}

.subscribe-button{
    background-color: #cc0000;
    color: white;
    border: #cc0000;
    border-radius: 3px 3px 3px 3px;
}
